/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
    /* overflow: scroll; */
    /* background-color: black; */
}


@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;     /* Firefox */
    }
  
    .scrollbar-hide::-webkit-scrollbar {
      display: none;             /* Chrome, Safari, Opera */
    }
  }
  body{
    overflow-x: hidden;
  }


  
  


